* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}
.modal-content{
    margin-top: 8em;
}

/* ---- grid ---- */

.grid {
    max-width: 1200px;
    counter-reset: grid-item;
}

/* clearfix */

.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- grid-item ---- */

.grid-item {
    width: 320px;
    float: left;
    background: #ef6c00;

    border-radius: 5px;
    margin-bottom: 1em;
}


.grid-item:before {
    counter-increment: grid-item;
    /* content: counter(grid-item); */
    display: block;
    color: white;
    padding-top: 0.2em;
    text-align: center;
    font-size: 1.4rem;

}

img {
    width: 100%;
}