body{
    background-color: #ddd;
}

div.paragraphBox {
    background-color: white;
    width: 40rem;
    height: 50rem;
    margin: 2rem auto;
    padding: 1rem;
    overflow-y: scroll;
}

div.paragraphBox h2 {
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    margin: 0.5rem;
}

div.paragraphBox {
    line-height: 1.5rem;
    font-size: 0.8rem;
}