@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
                      
                      .sv-list {
                        display: none;
                        border: 1px solid #e6e6e6;
                    }
                    .sv-list-pr:hover .sv-list {
                        display: block;
                    }
                    .sv-list-a {
                        display: block;
                        padding: 15px 0;
                    }
                    a.sv-list-a:hover {
                        color:orange !important;
                    }
                    .sv-list-bordertop {
                        border-top: 1px solid #e6e6e6;
                    }
                    .menubar li ul {
                      background: rgb(109,109,109);
                      display:none;  /* 평상시에는 서브메뉴가 안보이게 하기 */
                      height:auto;
                      padding:0px;
                      margin:0px;
                      border:0px;
                      position:absolute;
                      width:200px;
                      z-index:200;
                      }
                      
                      

.container {
  font-family: 'Nanum Gothic', 'Noto Sans KR', sans-serif !important;
  max-width: 1200px;
}
                      
                      
                      
                      input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder { /* WebKit browsers */ color:transparent; } input:focus:-moz-placeholder, textarea:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color:transparent; } input:focus::-moz-placeholder, textarea:focus::-moz-placeholder { /* Mozilla Firefox 19+ */ color:transparent; } input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder { /* Internet Explorer 10+ */ color:transparent; }

                         div.container {
                                padding : 3rem;
                        }

                    
                         div.container-box {
                                margin: 0 auto;
                                line-height: 3rem;
                            /*    width: 40%;*/
                        }
                                       
                    div.inner-container-box {
                        margin: 0 auto;
                        width: 70%;
                    }
                    
                    #groupImgeDiv {
                            float: right;
                             margin-top: 1em;
                             margin-right: 3em;
                    }
                    
                     div.study-img {
                    
                        display: inline-block;
                        width: 35em;
                        height: 20em;
                        overflow: hidden;
                       
                          }
                          
                           img.study-img {
           
                             width: 100%;
                            }

                      div.form-group-img {
                        text-align: center;
                      }
                      .form-control{
                        background-color: white !important;
                      }


                      @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

                      .container {
                          font-family: 'Nanum Gothic', 'Noto Sans KR', sans-serif !important;
                          max-width: 1200px;
                      }


                      span.std-std-info{
                          padding-top: 3%;
                        
                      }

                      div.nav-1 {
                          margin-top: 1.5em;
                      }

                      div.group-nav, div.studyCheckin{
                          border-radius: 5px;
                      }


                      div.group-nav {
                          margin: 0 1em 0 1em;
                          background-color: #ddd;
                      }

                      div.group-nav ul {
                          list-style-type: none;
                          margin: 0;
                          padding: 0;
                          margin: 1em;
                      }

                      div.group-nav ul li {
                          display: inline;
                          margin: 2rem;
                      }

                      div.group-nav ul li a {
                          color: black;
                      }

                      div.studyCheckin {
                          margin: 0 1em 0 1em;
                          background-color: #ddd;
                          margin: 1em;
                      }

                      .studyMain {
                          font-size: 1.3rem;
                          font-weight: bold;
                      }

                

                      .survey-titl {
                        
                          font-weight: bold;
                      }

                      .survey-list {
                          font-size: small;
                      }

                      p.studyCheckin{
                          line-height: 2rem;
                          text-align: center;
                      }

                      li.eachMember {
                          background-color: white;
                          float: left;
                          margin: 1rem;
                      }

                      img[src="img/thumbnail.jpg"] {
                          width: 70%;
                          display: inline-block;
                          margin: 1rem;
                      }

                      img[src="img/message.png"] {
                          display: inline-block;
                          width: 70%;
                          margin: 1rem;
                      }


                      div.eachMember {
                          margin: 1rem;
                          padding : 1rem;
                          background-color: white;
                          border-radius: 5px;
                      }

                      div.studyCheckin img.mapMarker {
                          width: 5%;
                          margin: 0 auto;
                          display: block;
                      }


                      div.empty {
                          background-color: transparent;
                      }

                      span.memberName {
                          font-weight: bold;
                      }

                      div.modal-body img.mapMarker {
                          width: 10%;
                          margin: 1rem;
                      }

                      div.modal-footer button {
                          margin: 0 auto;
                      }

                      div.addMember {
                          margin: 1rem;
                          border-radius: 5px;
                          float: right;
                      }

                      div.survey-enroll {
                        margin-top: 1em;
                        padding-bottom : 1em;
                        padding-right: 1em;
                        overflow: hidden;
                      }


                      div.survey-list-box {
                          margin-top: 1em;
                          padding-bottom : 3.6em;
                          padding-right: 1em;
                          overflow: hidden;
                      }



                      .vote-list {
                          padding-top: 1em;
                      }


                      label.item-titl {
                          margin : 0.5em;
                          font-weight: bold;
                      }

                      select.select-no {
                          width : 30%;
                      }

                      button.plus-btn {
                          background-color: #ffffff;
                          border :0;
                        
                        margin-right: 0.5em;
                      }



                      input.vote-date {
                          float: left;
                          margin-right: 1em;
                        
                          border : 1px solid #ced4da;
                          color: #495057;
                          height: 36px;
                          width:40%;
                          text-align: center;
                        
                      }





                      .plus {
                          float: right;
                          margin-right : 1em;
                          margin-top : 0.5em;
                      }

                      div.con-box-list {
                          margin-top: 1em;
                          border: 1px solid #ddd;
                          margin-left :1em;
                          padding-left: 0.5em;
                          padding-right: 0.5em;
                          padding-top: 1em;
                          padding-bottom: 1em;
                          overflow-y : scroll;
                        height: 41em;
                        border-radius: .25rem;
                      }




                      .con-box-list::-webkit-scrollbar { 
                          display: none; 
                      }

                      .enroll-bt {
                          background-color: #ef6c00;
                          border : 1px solid #ef6c00;
                      }

                      .enroll-btn {
                          margin : 0 auto;
                          padding-left : 8em;
                        
                      }

                      .menu-bar {
                          text-align: center;
                      }


                      button.vote-btn {
                          float: right;
                          background-color: white;
                          color: #ef6c00;
                          border: 1px solid #ef6c00;
                      }
                      }

                      .col-box {
                          margin-top: 2em;
                      }

                      hr.line3 {
                          width: 80%;
                          border: 2px solid #BDBDBD;
                          
                      }






                      div.group-nav,
                      div.studyCheckin {
                          border-radius: 5px;
                      }


                      div.group-nav {
                          margin: 0 1em 0 1em;
                          background-color: #ddd;
                      }

                      div.group-nav ul {
                          list-style-type: none;
                          margin: 0;
                          padding: 0;
                          margin: 1em;
                      }

                      div.group-nav ul li {
                          display: inline;
                          margin: 2rem;
                      }

                      div.group-nav ul li a {
                          color: black;
                      }

                      div.studyCheckin {
                          margin: 0 1em 0 1em;
                          background-color: #ddd;
                          margin: 1em;
                      }

                      .studyMain {
                          font-size: 1.3rem;
                          font-weight: bold;
                      }

                      h4 {
                          font-size: 1.5rem; 
                          margin-bottom: 1em !important;
                          text-align: center; 
                          font-weight: bold; 
                      }

                      p.studyCheckin {
                          line-height: 2rem;
                          text-align: center;
                      }

                      li.eachMember {
                          background-color: white;
                          float: left;
                          margin: 1rem;
                      }

                      img[src="img/thumbnail.jpg"] {
                          width: 70%;
                          display: inline-block;
                          margin: 1rem;
                      }

                      img[src="img/message.png"] {
                          display: inline-block;
                          width: 70%;
                          margin: 1rem;
                      }


                      div.eachMember {
                          margin: 1rem;
                          padding: 1rem;
                          background-color: white;
                          border-radius: 5px;
                      }

                      div.studyCheckin img.mapMarker {
                          width: 5%;
                          margin: 0 auto;
                          display: block;
                      }


                      div.empty {
                          background-color: transparent;
                      }

                      span.memberName {
                          font-weight: bold;
                      }

                      div.modal-body img.mapMarker {
                          width: 10%;
                          margin: 1rem;
                      }

                      div.modal-footer button {
                          margin: 0 auto;
                      }

                      div.addMember {
                          margin: 1rem;
                          border-radius: 5px;
                          float: right;
                      }




                      label.item-titl {
                          margin: 0.5em;
                          font-weight: bold;
                      }

                      select.select-no {
                          width: 20%;
                      }


                      input.vote-date {
                          float: left;
                          margin-right: 1em;
                          border-radius: 5px;
                          border: 1px solid #ced4da;
                          color: #495057;
                          height: 36px;
                          width: 40%;

                      }

                      div.con-box-list {
                          margin-top: 1em;
                          background-color: #FAFAFA;
                          margin-left: 1em;
                          padding-left: 1.5em;
                          padding-right: 0.5em;
                          padding-top: 1em;
                          padding-bottom: 1em;
                          overflow-y: scroll;
                          height: 30rem;
                      }

                      div.enroll-btn {
                          margin: auto;
                          width: 50%;

                      }

                      button.vote-btn {
                          float: right;
                      }

                      .col-box-list {
                          margin-top: 3em;
                      }

                      hr.line3 {
                          width: 80%;
                          border: 2px solid #BDBDBD;

                      }

                      .list-group-item {
                          border: 1px solid #ccc;
                      }


#groupImge{
    visibility:hidden;
}
                     