@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);



.container {
    font-family: 'Nanum Gothic', 'Noto Sans KR', sans-serif !important;
    max-width: 1200px;
}


div.group-nav,
div.studyCheckin,
div.checkedMembers {
    border-radius: 5px;
}

div.group-nav {
    margin: 0 0em 0 0em;
    background-color: #ddd;
}

div.group-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin: 1em;
}

div.group-nav ul li {
    display: inline;
    margin: 2rem;
}

div.group-nav ul li a {
    color: black;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

div.container-box {
    margin: 0 auto;
    padding: 1em;
    line-height: 3rem;
/*    width: 40%;*/
}

.navbar {
    margin: 0 0 3rem 0;
}

#profileInput {
    float: right;
}

#exampleInputEmail1 {
    width: 70%;
}

.profileMain {
    font-size: 1.3rem;
    font-weight: bold;
}

h3 {
    text-align: center;
}

.container-box {
   
    margin: 5rem auto;
    margin: 3rem auto;
}



div.filter-selection {
    margin: 3rem;
    display: block;
    position: relative;
}

ul.filter-category {
    display: block;
}

li.block {
    display: inline-block;
    width: 6rem;
    height: 6rem;
    line-height: 6rem;
    text-align: center;
/*    border: 1px solid #ddd;*/
    background-color: #fff;
    font-weight: bold;
    margin: 0rem;
}

li.block:hover {
    box-shadow: 5px 5px #ccc inset;
}

li.block:visited {
    box-shadow: 5px 5px #ccc inset;
}

h2 {
    font-weight: bold;
    font-size: 2rem;
}

h2 {
    text-align: center
}

.line {
    border: 3px solid #ef6c00;
    border-top:none;
    border-left: none;
    border-right: none;
    padding-bottom: 0.5em;
}


.dd, .review{
    float : right;

  
}


div.container {
    padding: 2rem;
}



div.inner-container-box {
    margin: 0 auto;
    width: 70%;
}


.modal-content {
	margin-top : 10em;
}

a {
	color: black !important;
}



.form-group {
    margin-bottom: 0;
}

.ttbtn {
	float: right;
	margin-left : 1em;
}

.modal-footer {
	justify-content : center;
}

.input-view, .cancel-view {
	width: 230px;
	
}

.ttbtn, .review {
	margin-top: 0.6em;
}

  