* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}
#topCon{
    margin-top: 7.5em;   
}
#grid_container{
    margin-top: 0;
}

#ad-images-div {

min-height: 10rem;
max-height: 20rem;
border: 1px solid gray;
border-radius: 5px;
display: grid;
grid-template-columns: repeat(2, 1fr);
overflow: scroll;
}
.ad-adImgs-wrapper {
position: relative;


}
.ad-adImgs-content {
   width: 150px;
   height: 150px;
   margin: 5px;
   border-radius: 5px;
   
   
}
.ad-adImgs-cover {
   position: absolute;
   left:0;
   top:0;
   width:150px;
   height: 150px;
   margin: 5px;
   background : black url("../img/delete_photo.png");
    background-size: 100px;
    background-position: center center;
    background-repeat:no-repeat; 
   border-radius: 5px;
   opacity: 0.7;
   display: none;
}
.ad-adImgs {
   width: 150px;
}
.ad-adImgs-wrapper:hover .ad-adImgs-cover {
   display: block;
}

<!---->
h6 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem;
    display: inline-block;

}
.hvrbox{
	position: relative;
}
.btn, .btn:hover, .btn:active{ 
    background-color: #ef6c00;
    border: 0px;
    color: white
}

#delBtn{
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.input-group {
    width: 100%;
    margin: 1em auto;
}

#trueForm {
    overflow: scroll;
    max-height: 15rem;
}

#fileupload {
    visibility: hidden;
}


/* ---- grid ---- */

.grid {
    margin: 0 auto;
    counter-reset: grid-item;
}

/* clearfix */

.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- grid-item ---- */

.grid-item {
    width: 210px;
    float: left;
    border-radius: 5px;
    margin-bottom: 1em;
     
}

.grid-item:before {
    counter-increment: grid-item;
    /* content: counter(grid-item); */
    display: block;
    color: white;
    padding-top: 0.2em;
    text-align: center;
    font-size: 1.4rem;

}

.modal{
    padding-top: 8.5em;
}

.modal-content{
    width: 80%;
    
    margin: 0 auto;
}


img {
    width: 100%;
}

