.sidemenu{
    padding: 2rem;
    border: 1px solid #dddddd;
    border-left: none;
    border-right: none;
}

.sidemenu:hover{
    color: #ef6c00;
}
div[off-canvas="id-2 right overlay"] a {color:black; cursor:pointer}
div[off-canvas="id-2 right overlay"] a:hover {color:#ef6c00; cursor:pointer}
[canvas=container] {
   width: 100%;
   height: 100%;
   overflow-y: visible;
   position: relative;
   background-color: white; /* Basic background color, overwrite this in your own css. */
   -webkit-overflow-scrolling: touch; /* Enables momentum scrolling on iOS devices, may be removed by setting to 'auto' in your own CSS. */
}

[off-canvas] {
     background-color: white; 
     color : black;
     
}

.userEmail {
   display : block;
   margin: 1em;
}

 .prof-img {
            margin-top: 2.5em;
            display: inline-block;
            width:7em;
            height:7em;
            overflow:hidden;
            border-radius: 3.5em;
    }
.prof-img img {
   width:100%;
} 
      
   

html, body {
   width: 100%;
   height: 100%;
   overflow : visible;
}