@media (max-width: 700px) {
    .container{
        margin:0px; padding:0px;
    }
}

* { margin: 0; padding: 0; }
li { list-style: none; }
a { text-decoration: none; }
#main_header > #main_gnb {
position: absolute;
right: 0; top: 0;
}  

html {
    height: 100%;
}

body {  
    padding: 20; 
    
    height: 100%;
}

.container {
    width: 1200px;
}


.wrap{
    padding-top: 3%;
    padding-bottom: 3%;
    width:100%;
    margin: 0 auto;
    height: 100%;
}

#main_header {
    padding-left: 10%;
    background: #1D4088;
    color: white;
}


button {
    width: 18%;
    padding: 1%;
    border: 1px solid gray;
    border-radius: 0.25rem;
    background-color: #008CBA;
    color: white;
  
}

#searchbtn {
    float: right;
    width: 40%;
  
}

#loc_btn {
    float: right;
    width: 30%;
}

form {
    height: 30%;
    
}

input[type=text] {
    width: 50%;
    padding: 1.2%;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
}

.key_input[type=text] {
    width: 59%;
}

.loc_titl{
    font-weight: bold;
    font-size: 1rem;
    padding-bottom: 0.1%;
}

.cat_titl {
    font-weight: bold;
    font-size: 1rem;
    padding-bottom: 0.1%;
}

.key_titl {
    font-weight: bold;
    font-size: 1rem;
    padding-bottom: 0.1%;
}

.loc_box {
     /*border: 1px solid #f00;*/
    width: 35%;
    margin: 0 auto;
}



#category {
    padding-top: 1em;
}


#categorybox {
    width: 100%;
    margin:0 auto; 
    overflow: hidden;
}

#category_box {
    padding-top: 1em;
}

.categorychoice li {
    
    float: left;
    width: 20%;
    text-align: center;
}

/* .block {
    float: left;
    width: 20%;
    text-align: center;

} */

.block a{
    display:block;
    padding: 0.8em;
    border:1px solid #ddd;
    box-sizing: border-box;
    font-size:0.9rem;
   /* border-collapse : collapse; */
} 

#keyword_box {
    padding-top: 2em;
    overflow: hidden;
}


.location_box {
    font-size: 0.9rem;
}

.third {
    width: 62.5%;
    margin: 0 auto;
    overflow: hidden;
    border : 1px solid red;
}
.th-ul {
    padding-top: 0%;
    overflow: hidden;
    margin-left: -30em;
}
.th-ul li {
    float: left;
    margin-left: 30em;
    width:30%;
}

.th-ul span {
    display: block;
}

.second {
    width: 62.5%;
    margin: 0 auto;
    padding-top : 1.5%;
    padding-bottom: 1%;
    font-size: 0.9rem;
    
}

.second_plc {
    background-color: #E6E6E6;
    overflow: hidden;
 
}

.search_sti {
    width:28%; 
    float: left;
    padding-bottom: 7%;
    margin : 1.87em;
    
}

.search_std:hover{
    opacity: 0.5;
}

.search_std {
    width: 100%;
    
}


.search_info {
    position:relative; 
    bottom:3.2rem; 
    background-color:#000000; 
    opacity:0.6; 
    color:#ffffff;
    padding: 0.6em;
}

.std_name {
    font-size:1rem;
    
}

.std_tag {
    font-size:0.8rem;
    font-weight:bold;
    
}

.std_member {
    float: right;
    
}