/*전체 영역 스타일 정의*/
@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.css');
*{
    font-family: 'NanumSquareRound', 'Noto Sans', sans-serif;
    line-height:1;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: #bbbbbb;
    text-decoration: none;
    cursor: pointer;
}
.container{
    max-width: 1200px;
    height: auto;
    margin-top: 1em
}



/*관리자페이지*/
ul.navbar-nav {
    text-align: center;
    align-self: center;
}

#navbarNav{
    height: 4rem;
    display: flex;
}

.profile-box {
    margin: 3em;
    margin: 0 auto;
    border: 1px solid
}

div.row {
    padding: 1em;
}

div.row  {
    padding: 1em;
    line-height: 1rem;
}

.navbar {
    margin: 0 0 1rem 0;
}
.input-group .mb-6{
    width: 10px;
}
.form-control{
    width: 10em
}