<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bitcamp.java106.pms.dao.EmailAuthDao">

  <resultMap type="bitcamp.java106.pms.domain.EmailAuth" id="AuthMap">
    <result column="memno" property="no"/>
    <result column="auth" property="authCode"/>
  </resultMap>
  
  <select id="getUserNo" parameterType="String" resultType="int">
  
    select memno from member_auth 
    where auth = #{authCode}
  
  </select>
    
  <insert id="createAuthKey" parameterType="map">
    insert into member_auth values(#{no}, #{authCode});
  </insert>
  
  <delete id="removeAuth" parameterType="int">
    delete from member_auth where memno = #{no}
  </delete>
</mapper>







