<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bitcamp.java106.pms.dao.InterestFieldDao">

  <resultMap type="InterestField" id="InterestMap">
    <id column="memno" property="no" />
    <result column="itr" property="category" />
  </resultMap>
    
 <insert id="insert" parameterType="InterestField">
  insert into member_interest values(#{category}, ${no})
 </insert>
    
</mapper>







