<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bitcamp.java106.pms.dao.MemberDao">

  <resultMap type="bitcamp.java106.pms.domain.Member" id="MemberMap">
    <id column="memno" property="no"/>
    <result column="email" property="email"/>
    <result column="pwd" property="password"/>
    <result column="intrd" property="introduce"/>
    <result column="pfp" property="profile"/>
    <result column="mname" property="name"/>
    <result column="birth" property="birthday"/>
    <result column="tel" property="tel"/>
    <result column="itrloc" property="interestedPlace"/>
    <result column="auth" property="authCode"/>
  </resultMap>
    
  <insert id="insert_basic" parameterType="bitcamp.java106.pms.domain.Member">
    insert into member( email, pwd, mname, tel)
        values(#{email}, password(#{password}), #{name}, #{tel} )
  </insert>
      
  <select id="selectOne" parameterType="String" resultMap="MemberMap">
    select *
    from member 
    where email=#{value}
  </select>
  
  <select id="selectOneByNo" parameterType="int" resultMap="MemberMap">
    select *
    from member 
    where memno = #{no}
  </select>
  
  <select id="selectOneSimpleCase" parameterType="String" resultMap="MemberMap">
    select memno, email
    from member 
    where email=#{id}
  </select>
  
  <select id="count" parameterType="map" resultType="int">
        select count(*)
        from member 
        where email=#{id} and pwd=password(#{password})
  </select>
  
  
  <update id="changePassword" parameterType="map">
    update member set pwd=password(#{newPassword})
    where memno = #{no}
  </update>
  
  <select id="validation" parameterType="map" resultMap="MemberMap">
    select email
    from member
    where memno = #{no} and pwd = password(#{password})
  </select>
  
  <update id="update" parameterType="Member">
        update Member set
        pfp=#{profile},
        pwd=password(#{password}),
        tel=#{tel},
        itrloc=#{interestedPlace},
        where email=#{id}
    </update>
      
  <update id="userAuth" parameterType="map">
    update member set auth = #{authCode} where memno = #{no}
  </update>
</mapper>







