<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bitcamp.java106.pms.dao.MemberMessageDao">

  <resultMap type="bitcamp.java106.pms.domain.MemberMessage" id="MemberMessageMap">
    <id column="msgno" property="no"/>
    <result column="cont" property="content"/>
    <result column="date" property="createdDate"/>
    <collection property ="sender" javaType="bitcamp.java106.pms.domain.Member">
      <id column="memno" property="no"/>
      <result column="name" property="name"/>      
    </collection>
    <collection property ="receiver" javaType="bitcamp.java106.pms.domain.Member">
      <id column="memno" property="no"/>
      <result column="name" property="name"/>      
    </collection>    
  </resultMap>

  <select id="selectListSender" 
          resultMap="MemberMessageMap" 
          parameterType="int">
    
    select m.name, mm.cont, mm.date 
    from member_message mm, member m
    where mm.sndr = #{no}
    order by date
  </select>

  <select id="selectListReceiver" 
          resultMap="MemberMessageMap" 
          parameterType="int">
    select m.name, mm.cont, mm.date 
    from member_message mm, member m
    where mm.rcvr = #{no}
    order by date
  </select>
  
  <insert id="insert" parameterType="MemberMessage"
          useGeneratedKeys="true" keyColumn="msgno" keyProperty="no">
    insert into member_message( cont, date, rcvr ) 
    values(#{content}, now(), #{receiver.no} );
  </insert>
      
  <select id="selectOne" parameterType="int" resultMap="MemberMessageMap">
    select *
    from member_message 
    where msgno=#{value}
  </select>
  
   <delete id="delete" parameterType="int">
    delete from member_message where msgno=#{value}
  </delete>

</mapper>
