<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bitcamp.java106.pms.dao.ReviewDao">

  <resultMap type="Review" id="ReviewMap">
    <id column="rvwno" property="no"/>
    <result column="cont" property="content"/>
    <result column="rating" property="rating"/>
    <result column="cdt" property="createdDate"/>
    <result column="category" property="category"/>
    <result column="cnt" property="count"/>
    <association property="member" javaType="Member">
    <id column="memno" property="no"/>
      <id column="mname" property="name"/>
    </association>
    <association property="study" javaType="StudyInfo">
      <id column="stdno" property="no"/>
      <id column="sname" property="name"/>
      <id column="ctgr" property="category"/>
    </association>
  </resultMap>
  
<select id="selectList" 
          resultMap="ReviewMap"
          parameterType="string">
  select r.rvwno, sname, s.ctgr, r.cont, r.rating, r.cdt, mname 
  from study_review r left join member m on r.memno=m.memno left join study_info s on r.stdno=s.stdno 
  where s.ctgr = #{category}
</select>
  

 <select id="count" parameterType="map" resultType="int">
        SELECT category, count(*) 
        FROM study_review r left join study_info s on r.category = s.ctgr 
        WHERE category = 'IT' GROUP BY category
  </select>
  
    
  <insert id="insert" parameterType="bitcamp.java106.pms.domain.Review"
  		  >
   insert into study_review(rating,cont)
   values(#{rating},#(content))
  </insert>
  
  <!-- 
  <update id="update_additional">
    update member
  </update> -->
    
  <select id="get" parameterType="int" resultMap="ReviewMap">
    select *
    from study_review
    where title=#{no}
  </select>
  
  
</mapper>







