<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bitcamp.java106.pms.dao.ReviewDao">

  <resultMap type="Review" id="ReviewMap">
    <id column="rvwno" property="no"/>
    <result column="cont" property="content"/>
    <result column="rating" property="rating"/>
    <result column="cdt" property="createdDate"/>
    <result column="category" property="category"/>
    <association property="member" javaType="Member">
      <id column="memno" property="no"/>
    </association>
      <association property="study" javaType="Study">
      <id column="stdno" property="no"/>
    </association>
  </resultMap>
  
   <select id="selectList" 
          resultMap="ReviewMap"
          parameterType="map">
   select cont, rating, cdt, category
   from study_review
   order by rvwno desc
   limit #{startRowNo}, #{pageSize}
  </select>
  
    
  <insert id="insert" parameterType="Review"
  		  useGeneratedKeys="true" keyColumn="rvwno" keyProperty="no">
    insert into study_review(cont, rating, cdt, category)
        values(#{content}, #{rating}, now(), #{category})
  </insert>
  
  <!-- 
  <update id="update_additional">
    update member
  </update> -->
    
  <select id="get" parameterType="int" resultMap="ReviewMap">
    select *
    from study_review
    where title=#{no}
  </select>
  
  
</mapper>







