<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bitcamp.java106.pms.dao.StudyJoinedMemberDao">

  <resultMap type="StudyJoinedMember" id="StudyJoinedMemberMap">
    <id column="stdno" property="studyNo"/>
    <result column="memno" property="memNo"/>
    <result column="rdt" property="registedDate"/>
    <result column="status" property="status"/>
    <association property="member" javaType="Member">
      <id column="memno" property="no"/>
      <id column="mname" property="name"/>
    </association>
   <association property="study" javaType="StudyInfo">
      <id column="stdno" property="no"/>
      <id column="name" property="name"/>
      <id column="ctgr" property="category"/>
   </association>
  </resultMap>
    
   <insert id="insert" parameterType="StudyJoinedMember" 
        useGeneratedKeys="true" keyColumn="stdno" keyProperty="studyNo">
    insert into study_joined_member(stdno,memno,rdt,grade) 
    values(#{studyNo},#{memNo},now(),#{grade})
  </insert>  
    
    
  <select id="selectList" 
          resultMap="StudyJoinedMemberMap"
          >
  select 
    sjm.stdno, 
    sjm.memno, 
    sjm.rdt, 
    sjm.grade, 
    m.mname, 
    m.email
  from study_joined_member sjm
  left join member m on sjm.memno=m.memno
  where sjm.stdno=#{studyNo} 
  and grade=1
  <!-- url에서 가져오 -->
</select>

<select id="selectListWithStudy" resultMap="StudyJoinedMemberMap" parameterType="int">
  select j.stdno , j.memno, s.name, s.ctgr
  from study_joined_member j left join study_info s on j.stdno = s.stdno
  where j.memno=#{value}
</select>

<update id="update" parameterType="int">
    
    UPDATE study_joined_member
    SET grade=2
    WHERE memno=#{memNo}
    AND stdno=#{studyNo} 
     <!-- memno:체크된 회원, 해당회원/ stdno: url에서 받아오 -->
  </update>
</mapper>







