<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 이름은 SQL을 찾을 때 사용하는 그룹명이다.
     따라서 SQL 문을 사용하는 DAO 클래스 이름과 같게 하면
     유지보수할 때 알아보기 쉽다.
     단순히 알아보기 쉬울 뿐만 아니라 
     스프링 프레임워크와 연동할 때 DAO 객체를 자동 생성할 수 있다. 
-->
<mapper namespace="bitcamp.java106.pms.dao.StudySurveyDao">

  <resultMap type="bitcamp.java106.pms.domain.StudySurvey" id="svMap">
    <id column="svno" property="no"/>
    <result column="titl" property="title"/>
    <result column="sdt" property="startDate"/>
    <result column="edt" property="endDate"/>
    <result column="ans" property="answerNum"/>
    <result column="stdno" property="studyNo"/>
  </resultMap>
  
  <insert id="insert" parameterType="StudySurvey" useGeneratedKeys="true" keyProperty="no" >
    insert into study_survey(titl, sdt, edt, ans, stdno)
    values (#{title}, #{startDate}, #{endDate}, #{answerNum}, #{studyNo})
  </insert>
  
  <delete id="delete" parameterType="int">
    delete from study_survey where svno = #{no}
  </delete>
  
  <select id="selectList" parameterType="int" resultMap="svMap">
	  select * from study_survey 
	  where stdno = #{no}
	  order by sdt ASC
	  limit 0, 10
  </select>
  
</mapper>







