<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bitcamp.java106.pms.dao.StudyAttendanceDao">

  <resultMap type="bitcamp.java106.pms.domain.StudyAttendance" id="StudyAttendanceMap">
    <id column="atdno" property="attendanceNo"/>
    <result column="scno" property="scheduleNo"/>
    <result column="stdno" property="studyNo"/>
    <result column="memno" property="memberNo"/>
    <result column="time" property="attendanceTime"/>
  </resultMap>
    
  <insert id="insert_basic" parameterType="bitcamp.java106.pms.domain.StudyAttendance">
    insert into studyAttendance( atdno, scno, stdno, memno,time))
    values(#{attendanceNo}, #{scheduleNo}, #{studyNo}, #{memberNo}, #{attendanceTime} )
  </insert>
      
  <select id="selectOne" parameterType="String" resultMap="StudyAttendanceMap">
    select *
    from studyAttendance 
    where atdno=#{attendanceNo}
  </select>
  
  <select id="selectOneSimpleCase" parameterType="String" resultType="bitcamp.java106.pms.domain.StudyAttendance">
    select *
    from studyAttendance 
    where atdno=#{attendanceNo}
  </select>
  
  <select id="count" parameterType="map" resultType="int">
    select *
    from studyAttendance 
    where atdno=#{attendanceNo}
  </select>
</mapper>







